<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<!--<add name="Samples" connectionString="Server=ssnmach006;Database=PS_WPF_Sample_20220330a;Connect Timeout=5;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>-->
		<!--<add name="Samples" connectionString="azure_me" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>-->
		<add name="Samples" connectionString="azure" xdt:Transform="Insert"/>
	</connectionStrings>

</configuration>